# binary built during testing
cmd/legacydump/legacydump

vendor
.glide
*.swp
*.swo

# created in test code
test.db

hasher.bench.txt

# profiling data
*\.test
cpu*.out
mem*.out
cpu*.pdf
mem*.pdf

# IDE files
.idea/*
.vscode/*
